.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #eee;
  color: #ccc;
  width: 100%;
}

/*Hero*/
.hero {
  padding: 64px 0px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #afd5aa;
}

.heroLogo {
  position: absolute;
  top: 4%;
  left: 2%;
}

.heroContainer {
  width: 100%;
  max-width: 1184px;
  display: flex;
}

.heroBoxOne {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #333;
}

.heroBoxOne h1 {
  font-size: 36px;
  text-transform: capitalize;
  margin-bottom: 0px;
}

.heroBoxOne h2 {
  font-size: 28px;
  margin-top: 0px;
}

.heroBoxOne h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 0px;
  color: #669900;
  width: 85%;
}

.heroBoxOne .link {
  display: block;
  cursor: pointer;
  color: #669900;
  border: none;
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 16px 32px;
  margin-top: 32px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: inherit;
  font-weight: 700;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 230px;
}

.heroBoxTwo {
  height: 600px;
  width: 350px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-image: url("/screenshot-one.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1184px) {
  .hero {
    padding: 32px 16px;
  }
  .heroContainer {
    flex-direction: column;
    align-items: center;
  }
  .heroBoxOne {
    width: 100%;
    text-align: center;
    margin-top: 56px;
    margin-bottom: 16px;
    align-items: center;
  }
  .heroBoxOne h1 {
    width: 100%;
  }
  .heroBoxOne h3 {
    width: 100%;
    font-size: 16px;
  }
  .heroBoxTwo {
    margin: 32px 0px;
  }
}

/*About*/
.about {
  min-height: 75vh;
  padding: 64px 0px;
  width: 100%;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.about > h1 {
  color: #333;
  font-size: 36px;
  text-align: center;
}

.aboutContainer {
  width: 100%;
  max-width: 1184px;
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.aboutBox {
  background-color: #afd5aa;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 3px;
  width: 325px;
  height: 375px;
  padding: 32px 16px;
  transition: transform 0.3s;
}

.aboutBox:hover {
  transform: translateY(-1.8rem) scale(1.05);
}

.aboutHeading {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #333;
  text-transform: uppercase;
}

.aboutText {
  font-size: 22px;
  font-weight: bold;
  color: #669900;
  width: 90%;
  margin: 0px auto;
  line-height: 25px;
}

@media screen and (max-width: 1184px) {
  .about {
    padding: 32px 16px;
  }
  .aboutContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .aboutBox {
    margin: 24px 0px;
  }
}

/*Features*/
.features {
  width: 100%;
  background-color: #bfddbb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featuresContainer {
  width: 100%;
  padding: 32px 0px;
  margin-bottom: 64px;
  max-width: 1184px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.featuresVideo {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.featuresContainer h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 64px;
  text-align: center;
}

@media screen and (max-width: 1184px) {
  .features {
    padding: 32px;
  }
  .featuresContainer {
    flex-direction: column;
  }
}

/*Description*/
.description {
  width: 100%;
  min-height: 75vh;
  background-color: #fff;
  padding: 32px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description > h1 {
  font-size: 36px;
  font-weight: 900;
  color: #669900;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.5px;
}

.descriptionContainer {
  width: 100%;
  max-width: 1184px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 56px;
}

.descriptionBoxOne {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.descriptionBoxTwo {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.descriptionBoxTwo h1 {
  font-size: 36px;
  margin: 0px;
  color: #333;
}

.descriptionBoxTwo h3 {
  font-size: 24px;
  margin: 10px;
  color: darkgray;
}

@media screen and (max-width: 1184px) {
  .description {
    padding: 32px 16px;
  }
  .descriptionContainer {
    flex-direction: column;
    align-items: center;
  }
}

/*Footer*/
.footer {
  height: 50vh;
  width: 100%;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerHeadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerHeading {
  color: #fff;
  margin-left: 10px;
}

.footerSubheading {
  display: flex;
  align-items: center;
  color: #ccc;
  text-transform: capitalize;
  margin: 0px;
}

.footerHeart {
  margin: 0px 3.5px;
}

.footerLink {
  color: #fff;
  margin-left: 3.5px;
  text-decoration: underline;
}

.footerLink:hover {
  color: #669900;
}
